@layout('layout.master')
@section('titulo')
Reset Password
@endsection
@section('conteudo')
  @if(!flashMessage('hasMadeResetRequest'))
    @if(!token)
      @include('auth.partials.password-reset-request-form')
    @else
      @include('auth.partials.password-change-form')
    @endif
  @else
    <h2>Password Reset Token Sent.</h2>
    <div class="alert alert-success">
      We've sent a password reset link to your mailbox.
    </div>
  @endif
@endsection
